#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.textarea{
  /*Nice text area style*/
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 100px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin-bottom: 10px;	
}